In [1]:
import pandas as pd
import numpy as np

dict = {
    "name":['aman','aman1','aman2','aman3'],
    "marks":['11','42','73','64'],
    "city":['hbj','bhp','cwh','jbp']
}
dp=pd.DataFrame(dict)
print(dp)

    name marks city
0   aman    11  hbj
1  aman1    42  bhp
2  aman2    73  cwh
3  aman3    64  jbp